.button-component {
    &__active {
        &.button-menu {
            > .button-content {
                outline: 2px solid var(--button-white);
                outline-offset: 2px;
            }
        }
    }

    &.button-menu {
        display: block;
        padding-top: 8px;
        padding-right: 16px;
        padding-bottom: 8px;
        padding-left: 16px;
        background: unset;
        position: relative;

        > .button-content {
            width: 40px;
            height: 40px;
            border-radius: 11px;
            background-color: var(--button-white);

            > * {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    &.button-small {
        display: block;
        border-radius: 11px;
        color: var(--button-text-color);
        font-size: 15px;
        font-weight: 700;
        font-family: inherit;
        text-transform: uppercase;
        background-color: var(--button-white);
        padding-block: 6px;
        padding-inline: 16px;

        &:disabled {
            opacity: .6;
        }

        &__full-width {
            width: 100%;
        }
    }

    &.button-tiny {
        display: block;
        border-radius: 7px;
        color: var(--button-text-color);
        font-size: 15px;
        font-weight: 700;
        font-family: inherit;
        text-transform: uppercase;
        background-color: var(--button-white);
        padding-block: 2px;
        padding-inline: 8px;

        &:disabled {
            opacity: .6;
        }

        &__full-width {
            width: 100%;
        }
    }

    &.button-text {
        padding: unset;
        cursor: pointer;
        color: var(--button-text-color);
        font-family: inherit;
        font-size: var(--default-font-size);
        background-color: unset;
    }

    &.button-icon {
        display: block;
        background-color: unset;
        padding: unset;
        border-radius: 4px;

        &.popup-menu-pressed {
            background-color: rgba(255, 255, 255, .1);
        }

        &:hover {
            background-color: rgba(255, 255, 255, .1);
        }

        > svg {
            display: block;
            margin: 0 auto;
        }
    }
}