.section-sidebar {
    height: 100%;
    width: 20%;
    min-width: 400px;

    display: flex;
    flex-direction: column;

    @media (max-width: 1072px) {
        flex: 0 0 100%;
        min-width: unset;
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }

    > .container {
        display: flex;
        height: 100%;
        overflow: hidden;

        > .buttons {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 72px;
            flex-shrink: 0;
            padding-block: 8px;
            border-right: 1px solid var(--background-main-color);
        }

        > .section-content {
            display: flex;
            flex-direction: column;
            width: 100%;

            > .top {
                display: flex;
                justify-content: space-between;

                font-size: 16px;
                text-transform: uppercase;
                padding: 1rem;

                > .button-component {
                    border-radius: 7px;

                    &:hover {
                        background-color: var(--background-b-color);
                    }
                }
            }

            .fade-menu {
                height: calc(100% - 56px);
            }

            .scrollbar-host {
                height: 100%;

                > div[data-overlayscrollbars-contents] {
                    display: flex;
                    flex-direction: column;
                    position: unset;
                }
            }

            .content {
                height: 100%;
                display: flex;
                flex-direction: column;

                padding-left: 16px;
                padding-right: 16px;
            }

            > .bottom {
                margin: 16px;
            }
        }
    }
}