.section-sidebar {
    height: 100%;
    width: 20%;
    min-width: 400px;

    display: flex;
    flex-direction: column;

    @media (max-width: 1072px) {
        flex: 0 0 100%;
        scroll-snap-align: start;
    }

    > .container {
        display: flex;
        height: 100%;
        overflow: hidden;

        > .buttons {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 72px;
            flex-shrink: 0;
            padding-block: 8px;
            border-right: 1px solid var(--background-main-color);
        }

        > .section-content {
            display: flex;
            flex-direction: column;
            width: calc(100% - 72px);

            > .title {
                font-size: 16px;
                text-transform: uppercase;
                padding: 1rem;
            }

            > .content {
                display: flex;
                flex-direction: column;
                height: 100%;
                padding-left: 1rem;
                padding-right: 1rem;
                padding-bottom: 1rem;
                overflow: auto;
            }
        }
    }
}