.dnd-component {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    position: relative;

    &__hovered {
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: var(--plane-size);
            z-index: 1;
            background: repeating-linear-gradient(
                -45deg,
                rgba(255, 255, 255, .2),
                rgba(255, 255, 255, .2) 5px,
                rgba(255, 255, 255, .05) 5px,
                rgba(255, 255, 255, .05) 25px
            );
            border-radius: 11px;
        }

        // outline: 1px dashed white;
    }

    > .info-section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        > svg {
            height: 50px;
            width: 50px;
        }
    }
}