.section-content__upload {
    .content {
        height: 100%;

        .dnd-component__active {
            outline: 1px;
        }

        .dnd-component {
            &__active {
                justify-content: unset;
            }

            > .info-section {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                > svg {
                    height: 50px;
                    width: 50px;
                }
            }
        }
    }

    > .button-component {
        margin: 1rem;
        width: auto;
        flex-shrink: 0;
    }
}