.upload-track-progress-component {  
    position: relative;
    height: 48px;
    background-color: var(--background-color);
    flex-shrink: 0;
    border-radius: 7px;
    overflow: hidden;

    > .container {
        z-index: 1;
        position: relative;
        height: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        > .left {
            padding-left: 8px;
            height: fit-content;
            min-width: 0;

            > .title {
                font-size: 16px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            > .artists {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

                > .artist {
                    font-size: 14px;
                }
            }
        }

        > .right {
            display: flex;
            padding-inline: 12px;
            height: fit-content;
        }
    }

    > .background {
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .2;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}