.circle-progress-component {
    > svg {
        transform: rotate(-90deg);
        
        > circle {
            stroke: white;
            transition: stroke-dashoffset 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms
        }
    }
}