.app {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    > .sidePanel {
        flex-grow: 2;
    }

    > .player {
        flex-grow: 4;
        background-color: var(--background-main-color);
        margin-block: .5rem;
        border-top-left-radius: 11px;
        border-top-left-radius: 11px;
    }

    > .playlist {
        flex-grow: 4;
        margin-block: .5rem;
        margin-right: .5rem;
        background-color: var(--background-secondary-color);
        border-top-right-radius: 11px;
        border-bottom-right-radius: 11px;
    }
}