.playlist-creation-component {
    display: flex;
    background-color: var(--background-b-color);
    border-radius: 11px;
    padding: 8px;

    .field {
        margin-bottom: 8px;

        > .title {
            text-transform: uppercase;
            font-size: 10px;
            font-weight: 700;
            letter-spacing: 1px;
            color: var(--text-caption-color);
        }

        > input {
            background-color: var(--background-color);
            border-radius: 7px;
            border: 1px solid var(--background-main-color);
            height: 30px;
            color: var(--text-white);
        }
    }

    .btns {
        display: flex;

        > button:first-child {
            margin-right: 8px;
        }
    }
}