.player-section {
    height: calc(100% - 16px);
    width: 40%;
    min-width: 340px;

    margin-top: 8px;
    margin-bottom: 8px;

    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;

    background-color: var(--background-main-color);

    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1072px) {
        flex: 0 0 100%;
        scroll-snap-align: start;
        height: 100%;
        margin: unset;
        border-radius: unset;
    }
}