.section-playlist {
    height: calc(100% - 16px);
    width: 35%;
    min-width: 340px;

    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;

    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
    
    background-color: var(--background-third-color);

    @media (max-width: 1072px) {
        flex: 0 0 100%;
        scroll-snap-align: start;
        scroll-snap-stop: always;
        height: 100%;
        margin: unset;
        border-radius: unset;
    }

    > .container {
        display: flex;
        flex-direction: column;
        padding: 8px;

        > .track-component:not(:last-child) {
            margin-bottom: 8px;
        }
    }
}