.section-playlist {
    height: calc(100% - 16px);
    width: 35%;
    min-width: 340px;

    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;

    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
    padding: 8px;
    background-color: var(--background-third-color);

    @media (max-width: 1072px) {
        flex: 0 0 100%;
        scroll-snap-align: start;
        scroll-snap-stop: always;
        height: 100%;
        margin: unset;
        border-radius: unset;
    }

    > .playlist-info-component {
        margin-bottom: 8px;
    }

    > .tracks {
        display: flex;
        flex-direction: column;

        > .track-component:not(:last-child) {
            margin-bottom: 8px;
        }
    }
}