.waveform {
    display: flex;
    flex-direction: column;

    > canvas {
        cursor: pointer;
    }

    > .bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}