.upload-track-component {
    background-color: var(--background-b-color);
    border-radius: 11px;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    font-family: inherit;
    margin-bottom: 8px;
    cursor: pointer;

    &:last-child {
        margin-bottom: unset;
    }

    &__editing {
        cursor: default;
    }

    .field {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-height: 36px;

        > .title {
            text-transform: uppercase;
            font-size: 10px;
            font-weight: 700;
            letter-spacing: 1px;
            color: var(--text-caption-color);
        }

        > .value {
            text-align: left;
            width: 100%;
        }
    }

    .column-field {
        display: flex;
        justify-content: space-between;
        min-height: 36px;

        > .column {
            margin-right: 4px;
            flex: 1;

            &.column-image {
                flex: 0;
            }

            &.column-bitrate {
                flex: 0;
                min-width: 100px;
            }

            &:last-child {
                margin-right: unset;
            }
        }
    }

    .field-image {
        height: 36px;

        > .image {
            height: 76px;
            width: 76px;
            min-height: 76px;
            border-radius: 11px;

            &.image-empty {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px dashed white;

                > svg {
                    width: 38px;
                    height: 38px;
                }
            }
        }
    }

    .field-bitrate {
        min-width: 100px;
    }

    .field-filename {
        min-height: unset;
        font-size: 10px;
        letter-spacing: 1px;
        color: var(--text-caption-color);
    }

    .field, > .column-field {
        margin-bottom: 4px;

        &:last-child {
            margin-bottom: unset
        }
    }
}