.upload-track-component {
    background-color: var(--background-b-color);
    border-radius: 11px;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    font-family: inherit;
    margin-bottom: 8px;
    cursor: pointer;

    &:last-child {
        margin-bottom: unset;
    }

    &__editing {
        cursor: default;
    }

    .field {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        > .title {
            text-transform: uppercase;
            font-size: 10px;
            font-weight: 700;
            letter-spacing: 1px;
            color: var(--text-caption-color);
        }

        > .value {
            position: relative;
            text-align: left;
            width: 100%;
            height: 22px;
        }
    }

    .column-field {
        display: flex;
        justify-content: space-between;
        min-height: 36px;

        > .column {
            margin-right: 8px;
            flex: 1;

            &.column-image {
                flex: 0;
            }

            &.column-bitrate {
                flex: 0;
                min-width: 100px;
            }

            &:last-child {
                margin-right: unset;
            }
        }
    }

    .field-image {
        height: 36px;

        > .input-component-image {
            height: 76px;
            width: 76px;
            min-height: 76px;
        }
    }

    .field-bitrate {
        min-width: 100px;
    }

    .field-filename {
        min-height: unset;
        font-size: 10px;
        letter-spacing: 1px;
        color: var(--text-caption-color);
    }

    .field, > .column-field {
        margin-bottom: 4px;

        &:last-child {
            margin-bottom: unset
        }
    }

    > .buttons {
        display: flex;

        > :first-child {
            margin-right: 8px;
        }
    }

    .add-icon {
        position: absolute;
        top: 0;
        right: 0;
        width: 22px;
        height: 22px;
        cursor: pointer;
        border-radius: 7px;

        > svg {
            width: 22px;
            height: 22px;
        }
    }

    .unknown-data {
        color: var(--info-color);
    }
}