.input-component {
    &-expanded {
        resize: none;
        outline: unset;
        overflow: hidden;

        background-color: var(--background-color);
        color: white;
        
        padding-block: 1px;
        padding-inline: 4px;
        border: 1px solid var(--background-main-color);
        border-radius: 7px;
    }

    &-image {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 76px;
        height: 76px;

        position: relative;
        border-radius: 7px;
        padding: unset;
        overflow: hidden;

        &__empty {
            border: 1px dashed white;

            > .cover {
                border: unset !important;
            }
        }

        > .cover {
            display: none;
            position: absolute;

            width: 100%;
            height: 100%;
            
            justify-content: center;
            align-items: center;
            background-color: rgba(255, 255, 255, .3);

            border: 1px dashed white;
            border-radius: 7px;
        }

        &:hover {
            > .cover {
                display: flex;
            }

            > .MuiSvgIcon-root {
                display: none;
            }
        }

        .MuiSvgIcon-root {
            width: 38px;
            height: 38px;
        }

        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}