.track-component {
    padding: unset;

    display: flex;
    flex-direction: row;
    position: relative;

    border-radius: 7px;
    overflow: hidden;

    background-color: var(--background-color);
    cursor: pointer;

    > .cover {
        height: 48px;
        width: 48px;
    }

    > .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-inline: 8px;
        min-width: 0;

        > .title {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
        }

        > .artists {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;

            > .artist {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: 14px;
            }
        }
    }

    > .controls {
        display: flex;
        justify-content: end;
        flex-grow: 1;

        > button {
            width: 48px;
            margin-block: 4px;
            margin-right: 4px;
        }
    }

    > .background {
        position: absolute;
        top: 0;
        left: 0;
        opacity: .2;
        height: 100%;
        width: 100%;
        pointer-events: none;
        object-fit: cover;
    }
}