.signFormBox {
    min-width: 115px;
    max-width: 90%;
    width: 675px;
    min-height: 300px;
    max-height: 70%;
    height: 330px;
    overflow: hidden;
    border-radius: 11px;
    background-color: var(--background-main-color);

    > .signBox {
        display: flex;
        border-radius: 11px;
        transition: translate 1s ease-in-out;
        height: 100%;

        > * {
            flex-grow: 0;
            flex-shrink: 0;
        }

        > .modeBox {
            flex-basis: 40%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-size: var(--title-font-size);

            > .mode {
                position: absolute;
                transition: opacity ease-in 0.5s;
            }
        }

        > .signInBox, .signUpBox {
            background-color: var(--background-secondary-color);
            border-radius: 11px;
            transition: width 1s ease-in-out 0.5s;
            flex-basis: 60%;
            border-radius: 11px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: var(--title-font-size);

            > .title {
                margin-block: 20px;
            }

            > .signInputs {
                display: flex;
                flex-direction: column;
                border-radius: 11px;
                width: 80%;

                > input {
                    margin-bottom: 1rem;
                    background-color: inherit;
                    height: 30px;
                    padding: 0.5em;
                    color: inherit;
                    border: solid 1px var(--text-white);
                    border-radius: inherit;
                    font-size: 15px;

                    &:last-child {
                        margin-bottom: unset;
                    }
                }
            }

            > a {
                font-size: 14px;
                margin-top: 28px;
                height: 18px;
            }

            > .formSubmitButton {
                height: 30px;
                width: 128px;
                border-radius: inherit;
                font-size: 14px;
                background-color: var(--button-white);
                color: var(--text-back);
                margin-top: 28px;
            }
        }
    }
}
