.fade-menu-container {
    position: relative;

    > .fade-menu {
        z-index: 12;

        position: absolute;
        transition: opacity 0.5s linear;
        height: 100%;
        width: 100%;

        > [data-overlayscrollbars] {
            height: 100%;
        }
    }
}