@use "theme";
@use "standart";

body {
    background-color: var(--background-color);
    color: var(--text-white);
    margin: 0;
    height: 100dvh;
    width: 100dvw;
    font-family: "Nunito";

    > #ROOT {
        display: flex;
        align-items: center;
        justify-content: center;
        height: inherit;
        width: inherit;

        @media (max-width: 1072px) {
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            justify-content: unset;

            scrollbar-width: none;
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}

* {
    box-sizing: border-box;
}