button {
    border: unset;
    color: inherit;
    background-color: unset;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
}

input {
    border-radius: unset;
    border: unset;
    font-size: inherit;
    font-family: inherit;
    outline: unset;
    
    &::placeholder {
        color: inherit;
        font-family: inherit;
    }
}