:root {
    --background-color: #111111;
    --background-main-color: #414141;
    --background-secondary-color: #606060;
    --text-caption-color: #929292;
    --background-third-color: #515151;
    --background-a-color: #656565;
    --background-b-color: #2F2F2F;
    --text-back: #000000;
    --text-white: #ffffff;
    --title-font-size: x-large;
    --default-font-size: medium;
    --button-white: #D9D9D9;
    --button-active: #3277c5;
    --button-text-color: #256AFF;
    --error-color: #E90000;
}

.os-scrollbar {
    --os-size: 16px;
    --os-padding-perpendicular: 4px;

    --os-handle-bg: rgba(255, 255, 255, 0.44);
    --os-handle-bg-hover: rgba(255, 255, 255, 0.55);
    --os-handle-bg-active: rgba(255, 255, 255, 0.66);
}