:root {
    --background-color: #111111;
    --background-main-color: #414141;
    --background-secondary-color: #606060;
    --background-third-color: #515151;
    --text-back: #000000;
    --text-white: #ffffff;
    --title-font-size: x-large;
    --default-font-size: medium;
    --button-white: #D9D9D9;
}