:root {
    --background-color: #111111;
    --background-main-color: #414141;
    --background-secondary-color: #606060;
    --text-caption-color: #929292;
    --background-third-color: #515151;
    --background-a-color: #656565;
    --background-b-color: #2F2F2F;
    --text-back: #000000;
    --text-white: #ffffff;
    --title-font-size: x-large;
    --default-font-size: medium;
    --button-white: #D9D9D9;
    --button-active: #3277c5;
    --button-text-color: #2196F3;
    --error-color: #EF5350;
    --info-color: #FFD54F;
    --green-color: #4FFF5B;
}

.os-scrollbar {
    --os-size: 10px !important;
    --os-padding-perpendicular: 2px !important;

    --os-handle-bg: rgba(255, 255, 255, 0.44) !important;
    --os-handle-bg-hover: rgba(255, 255, 255, 0.55) !important;
    --os-handle-bg-active: rgba(255, 255, 255, 0.66) !important;
}