.popup-menu-component {
    position: absolute;
    z-index: 9999;
    background-color: rgba(0, 0, 0, .6);
    backdrop-filter: blur(4px);

    > .option {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 32px;
        width: 100%;
        padding: unset;
        padding-right: 36px;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        cursor: pointer;

        > .count {
            width: 32px;
            text-align: center;
            font-size: 14px;
            color: #CCCCCC;
        }

        > .arrow {
            position: absolute;
            right: 6px;
        }

        &:hover {
            background-color: rgba(255, 255, 255, .1);
            border-bottom-color: transparent;
        }

        &:last-child {
            border-bottom: unset;
        }
    }

    &__default {
        border-radius: 7px;
        width: max-content;
        overflow: hidden;
    }

    &__touch {
        left: 0;
        bottom: 0;
        width: 100%;
    }
}