.user-panel {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;

    > .volume {
        border-top-right-radius: 11px;
        border-top-left-radius: 11px;
    }

    > .buffer {
        position: relative;
        height: 48px;
        
        > .background {
            position: absolute;
            left: 0;
            top: 0;

            height: calc(100% + 11px);
            width: 100%;
            z-index: -1;

            border-top-right-radius: 11px;
            border-top-left-radius: 11px;
            overflow: hidden;
            background-color: red;
        }
    }

    > .main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--background-secondary-color);
        border-top: 1px solid var(--background-main-color);
        border-bottom-right-radius: 11px;
        border-bottom-left-radius: 11px;

        > .info {
            display: flex;
            align-items: center;

            > .avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin: 8px;

                &__empty {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px dashed white;
                }
            }

            > .login {
                font-size: 16px;
            }
        }

        > .settings-button {
            padding-right: 18px;
        }
    }
}