.playlist-buffer-component {
    position: relative;
    height: 48px;
    
    > .background {
        position: absolute;
        left: 0;
        top: 0;

        height: calc(100% + 11px);
        width: 100%;
        z-index: -1;

        overflow: hidden;
        background-color: var(--background-b-color);

        > img {
            width: 100%;
            height: 100%;

            object-position: center;
            object-fit: cover;
            opacity: .4;
        }
    }

    > .block {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        padding-inline: 18px;
        padding-block: 12px;

        > .info {
            font-weight: 500;
        }
    }
}