.dock {
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 11px;

    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;

    > .client-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--background-secondary-color);
        border-top: 1px solid var(--background-main-color);
        border-bottom-right-radius: 11px;
        border-bottom-left-radius: 11px;

        > .left {
            display: flex;
            align-items: center;

            > .avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin: 8px;

                &__empty {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px dashed white;
                }
            }

            > .login {
                font-size: 16px;
            }
        }

        > .right {
            display: flex;
            
            > .button-component {
                margin-right: 9px;

                height: 42px;
                width: 42px;
                
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}