.section-content__upload {
    .content {
        .dnd-component {
            &__active {
                justify-content: unset;
            }

            > .info-section {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                > svg {
                    height: 50px;
                    width: 50px;
                }
            }
        }

        > .upload-track-progress-component:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    > .bottom {
        display: flex;

        > :first-child:nth-last-child(n+2) {
            margin-right: 8px;
        }
    }
}