.contextmenu-plane-component {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 9998;
}

.contextmenu-component {
    position: absolute;
    z-index: 9999;
    background-color: rgba(255, 255, 255, .2);

    &__default {
        width: max-content;
    }

    &__touch {
        left: 0;
        bottom: 0;
        width: 100%;
    }
}